body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 30% 15% 30%;
}

.msg-box {
  border: 2px solid black;
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 10px;
}

#deal {
  width: 100px;
  height: 50px;
}

#dealer-hand {
  grid-column: 2/4;
  grid-row: 1/2;
}

#player-hand {
  grid-column: 2/4;
  grid-row: 3/4;
}

#deck {
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
}

#choices {
  grid-column: 3/4;
  grid-row: 3/4;
  display: block;
}

#hit, #stand {
  display: block;
}