body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 250px 350px 240px 200px;
  grid-template-rows: 280px 130px 200px;
  background-image: url("../images/sand2.jpg");
  font-family: 'Vollkorn', serif;
  font-weight: bold;
}

.msg-box {
  border: 4px solid black;
  border-radius: 10px;
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 25px 25px 0 0;
  width: 550px;
  height: 80px;
}

.log {
  grid-column: 4/6;
  grid-row: 1/2;
  border: 2px solid black;
  margin-top: -8px;
  margin-right: -10px;
  content: url("../images/logPic.jpg");
  object-fit: cover;
  width: 600px;
  height: 450px; 
}

.scoreboard {
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: left;
  margin-top: 0px;
  margin-left: 75px;
  font-size: 22px;
}

#d-card-value {
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 18px 0 0 130px;
  font-size: 20px;
}

#p-card-value {
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 15px 0 0 130px;
  font-size: 20px;
}

#main-msg {
  margin: 5px 15px;
  font-size: 40px;
  text-align: center;
}

.new {
  margin-left: -83px;
}

.move {
  animation: backInLeft;
  animation-duration: .8s;
}

#deal {
  grid-column: 1/4;
  grid-row: 2/3;
  margin-left: 50px;
  margin-top: 40px;
  width: 150px;
  height: 50px;
  font-family: 'Vollkorn', serif;
  font-size: 18px;
  border-radius: 20px;
  border-width: 4px;
  border-color: black;
  background-color: white;
}

#dealer-hand {
  grid-column: 1/4;
  grid-row: 1/2;
  margin-left: 30px;
}

#player-hand {
  grid-column: 1/4;
  grid-row: 3/4;
  margin-left: 30px;
}

#deck {
  grid-column: 3/4;
  grid-row: 1/2;
  margin-top: 0px;
  margin-left: 28px;
}

.choices {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-top: 10px;
}

#hit {
  width: 80px;
  height: 40px;
  font-family: 'Vollkorn', serif;
  font-size: 18px;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  margin: 5px;
  background-color: rgb(208, 21, 21);
  color: white;
}

#stand {
  width: 80px;
  height: 40px;
  font-family: 'Vollkorn', serif;
  font-size: 18px;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  margin: 5px;
  background-color: rgb(52, 52, 191);
  color: white;
}